<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <p>Home | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></p>
    <h3>About Me</h3>
    <img src="https://miro.medium.com/max/1187/1*0FqDC0_r1f5xFz3IywLYRA.jpeg" alt="programmer">
    <p>Moose Phillips</p>
    <p>I like stuff</p>
    <p>I am the most competent programmer ever.</p>
</body>
</html>