<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <p><a href="/">Home</a> | Projects | <a href="/contact">Contact</a></p>
    <h3>Here are Some projects of mine</h3>
    <img src="https://lh3.googleusercontent.com/proxy/lPkUo6Ik4yxKPfsPIzTmtAK3uQQlzGIz1RJUQVawPeQDqpeTa2wfvbL1GF7QtBQH_uLOpnD1LYBFpPk-BYLt89vTtW1FxuEFbrRLk2AnA7vdTaAs_ygWFQ" alt="project 1">
    <h3>My favorite project</h3>
    <img src="https://news.blr.com/app/uploads/sites/3/2019/10/Team-project.jpg" alt="project 2">
    <h3>My second favorite project</h3>
    <img src="https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2019Q1/project-planning/why-is-project-management-important-header@2x.png" alt="third project">
    <h3>My third favorite project</h3>
</body>
</html>



