@model Wedding


<form asp-area="" asp-controller="Home" asp-action="Logout" method="POST">
        <button class="btn btn-link">
            Logout (@Context.Session.GetString("UserName"))
        </button>
    </form>
    
<h1>Plan your Wedding</h1>

<form asp-action="WeddingCreate" asp-controller="Home" method="POST">
  <div class="form-group">
    <label asp-for="WedderOne">Wedder One:</label>
    <span asp-validation-for="WedderOne"></span>
    <input type="text" class="form-control" asp-for="WedderOne" aria-describedby="emailHelp" placeholder="Enter Wedder One">
  </div>

  <div class="form-group">
    <label asp-for="WedderTwo">Wedder Two:</label>
    <span asp-validation-for="WedderTwo"></span>
    <input type="text" class="form-control" asp-for="WedderTwo" aria-describedby="emailHelp" placeholder="Enter Wedder Two">
  </div>

  <div class="form-group">
    <label asp-for="Date">Date:</label>
    <span asp-validation-for="Date"></span>
    <input type="date" class="form-control" asp-for="Date" aria-describedby="emailHelp" placeholder="Enter Wedder Date">
  </div>

  <div class="form-group">
    <label asp-for="Address">Wedding Address:</label>
    <span asp-validation-for="Address"></span>
    <input type="text" class="form-control" asp-for="Address" aria-describedby="emailHelp" placeholder="Enter Wedder Address">
  </div>
  
  <button type="submit" class="btn btn-primary">Create</button>
</form>