@model User
 
 
 
 <form class="col-6" asp-action="Register" asp-controller="Home" method="POST">
        <div class="form-group">
            <label asp-for="FirstName">First Name</label>
            <span class="text-danger font-weight-bold" asp-validation-for="FirstName"></span>
            <input type="text" class="form-control" asp-for="FirstName" aria-describedby="emailHelp" placeholder="Enter First Name">
            
        </div>

        <div class="form-group">
            <label asp-for="LastName">Last Name</label>
            <span class="text-danger font-weight-bold" asp-validation-for="LastName"></span>
            <input type="text" class="form-control" asp-for="LastName" aria-describedby="emailHelp" placeholder="Enter Last Name">
            
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <span class="text-danger font-weight-bold" asp-validation-for="Email"></span>
            <input type="text" class="form-control" asp-for="Email" aria-describedby="emailHelp" placeholder="Enter Email">
            
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <span class="text-danger font-weight-bold" asp-validation-for="Password"></span>
            <input type="password" class="form-control" asp-for="Password" aria-describedby="emailHelp" placeholder="Enter Password">
            
        </div>

        <div class="form-group">
            <label asp-for="PasswordConfirm">Password Confirm</label>
            <span class="text-danger font-weight-bold" asp-validation-for="PasswordConfirm"></span>
            <input type="password" class="form-control" asp-for="PasswordConfirm" aria-describedby="emailHelp" placeholder="Enter Password Confirmation">
            
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>